<div class="flex-grow basis-0" data-testid="esResult">
  <section class="flex flex-col flex-wrap justify-between mb-5">
    <div>
      <button (click)="fileInput.click()" mat-raised-button type="button">Choose File</button>
    </div>
    <input #fileInput (change)="selectedFileChange($event)" hidden id="file" type="file">
  </section>
  <section class="flex flex-col flex-wrap justify-between" style="width: 100%; height: 100%;">
    <ag-grid-angular
      (gridReady)="onGridReady($event)"
      [columnDefs]="[]"
      [defaultColDef]="defaultColDef"
      [rowData]="[]"
      style="width: 100%; height: 100%;"
    />
  </section>
</div>
