@use '@angular/material' as mat;

@include mat.core();

// light theme
$my-app-light-theme-primary: mat.m2-define-palette(mat.$m2-blue-palette);
$my-app-light-theme-accent: mat.m2-define-palette(mat.$m2-yellow-palette);
$my-app-light-theme-warn: mat.m2-define-palette(mat.$m2-red-palette);
$my-app-light-theme: mat.m2-define-light-theme(
    (
      color: (
        primary: $my-app-light-theme-primary,
        accent: $my-app-light-theme-accent,
        warn: $my-app-light-theme-warn,
      ),
    )
);

// Include the light theme styles
  @include mat.all-component-themes($my-app-light-theme);

// dark theme
$my-app-dark-primary:  mat.m2-define-palette(mat.$m2-gray-palette);
$my-app-dark-accent:  mat.m2-define-palette(mat.$m2-blue-palette);
$my-app-dark-warn:  mat.m2-define-palette(mat.$m2-cyan-palette);
$my-app-dark-theme: mat.m2-define-dark-theme(
    (
      color: (
        primary: $my-app-dark-primary,
        accent: $my-app-dark-accent,
        warn: $my-app-dark-warn,
      ),
    )
);

// Include the dark theme styles
.dark-theme {
  @include mat.all-component-themes($my-app-dark-theme);
}
