@use 'color';
@use "tailwindcss";
@use "material-theme";

html,
body {
  margin: 0;
  height:100vh
}

.active {
  background: color.$my-blue !important;
}

.spinner-overlay {
  position: fixed; /* Positions the overlay relative to the viewport */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8); /* Optional: Adds a semi-transparent background to disable interaction */
  display: flex; /* Centers the spinner using flexbox */
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Ensures the spinner is on top of all other content */
}
