<div class="flex flex-col">
  <section>
    <div class="example-label">Checkbox</div>
    <mat-checkbox [color]="themeService.selectedColor" [checked]="true">
      checked true
    </mat-checkbox>
    <mat-checkbox [color]="themeService.selectedColor" [indeterminate]="true">
      indeterminate true
    </mat-checkbox>
    <mat-checkbox [color]="themeService.selectedColor" [indeterminate]="false">
      indeterminate false
    </mat-checkbox>
  </section>
  <section>
    <div class="example-label">Chips</div>
    <div>
      <mat-chip-set>
        <mat-chip [color]="themeService.selectedColor">
          chips
        </mat-chip>
      </mat-chip-set>
    </div>
  </section>
  <section>
    <div class="example-label">Tabs</div>
    <mat-tab-group [color]="themeService.selectedColor">
      <mat-tab label="tab1">tab1</mat-tab>
      <mat-tab label="tab2">tab2</mat-tab>
    </mat-tab-group>
  </section>
  <section>
    <div class="example-label">Select List</div>
    <mat-selection-list [color]="themeService.selectedColor">
      <mat-list-option
        [togglePosition]="themeService.selectedLabelPosition"
        *ngFor="let shoe of [
    'Boots',
    'Clogs',
    'Loafers',
    'Moccasins',
    'Sneakers',
  ]"
      >{{ shoe }}</mat-list-option
      >
    </mat-selection-list>
  </section>
</div>
