<div class="flex-grow basis-0" data-testid="esResult">
  <section class="flex flex-col flex-wrap justify-between">
    <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
    <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">
  </section>
  <section class="flex flex-col flex-wrap justify-between">
    <gc-spread-sheets [hostStyle]="hostStyle" (workbookInitialized)="initSpread($event)">
      <gc-worksheet>
      </gc-worksheet>
    </gc-spread-sheets>
  </section>
</div>
