<div class="flex-grow basis-0" data-testid="esResult">
  <h1>Search Result From Mongo DB:</h1>
  <section class="flex flex-col flex-wrap justify-between">
    <gc-spread-sheets [hostStyle]="hostStyle" (workbookInitialized)="workbookInit($event)">
    </gc-spread-sheets>
  </section>
  <section class="flex flex-col flex-wrap justify-between">
    <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
    <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">
  </section>
</div>
