<div class="flex flex-col">
  <section>
    <div class="example-label">Button</div>
    <div *ngFor="let color of colorService.colors$ | async">
      <button mat-raised-button [color]="color">{{ color }} Button</button>
    </div>
  </section>
  <section>
    <div class="example-label">Button Toggle</div>
    <div *ngFor="let appearance of colorService.appearance$ | async">
      <mat-button-toggle-group [appearance]="appearance">
        <mat-button-toggle *ngFor="let color of colorService.colors$ | async">
          {{ appearance }} {{ color }} Button
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </section>
  <section>
    <div class="example-label">Checkbox</div>
    <div *ngFor="let color of colorService.colors$ | async">
      <mat-checkbox [color]="color" [checked]="true">
        {{ color }}
      </mat-checkbox>
      <mat-checkbox [color]="color" [indeterminate]="true">
        {{ color }}
      </mat-checkbox>
      <mat-checkbox [color]="color" [indeterminate]="false">
        {{ color }}
      </mat-checkbox>
    </div>
  </section>
  <section>
    <div class="example-label">Chips</div>
    <div>
      <mat-chip-set>
        <mat-chip
          *ngFor="let color of colorService.colors$ | async"
          [color]="color"
        >
          {{ color }}
        </mat-chip>
      </mat-chip-set>
    </div>
  </section>
  <section>
    <div class="example-label">Tabs</div>
    <div *ngFor="let color of colorService.colors$ | async">
      <mat-tab-group [color]="color">
        <mat-tab label="{{ color }}">{{ color }}</mat-tab>
        <mat-tab label="{{ color }}">{{ color }}</mat-tab>
      </mat-tab-group>
    </div>
  </section>
</div>
