:host {
  overflow-y: auto;
}

.internal-mat-grid {
  border: 1px solid red;
  min-width: 80%;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-row {
  display: table-cell;
  max-width: 600px;
}
