<div [ngClass]="[colorService.darkMode ? 'dark-theme' : '']">
  <mat-toolbar
    *ngFor="let color of colorService.colors$ | async"
    [color]="color"
  >
    <mat-toolbar-row>
      <span class="mx-2">{{ color | uppercase }} tool bar</span>
      <a
        mat-button
        routerLinkActive="active"
        data-automation-id="home-link"
        routerLink="home"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home
      </a>
      <a
        mat-button
        routerLinkActive="active"
        data-automation-id="search-link"
        routerLink="search"
        [routerLinkActiveOptions]="{ exact: true }"
        >Search</a
      >
      <a
        mat-button
        routerLinkActive="active"
        routerLink="threeJs"
        data-automation-id="three-js-link"
        [routerLinkActiveOptions]="{ exact: true }"
        >Three JS</a
      >
      <a
        mat-button
        routerLinkActive="active"
        routerLink="helps/about"
        [routerLinkActiveOptions]="{ exact: true }"
      >About</a
      >
      <span class="flex-1"></span>
      <mat-slide-toggle
        color="warn"
        labelPosition="before"
        [(ngModel)]="colorService.darkMode"
      >
        <div class="flex justify-center">
          <mat-icon>dark_mode</mat-icon>
          DARK MODE
        </div>
      </mat-slide-toggle>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-drawer-container class="min-h-svh" autosize>
    <main class="m-5">
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-container>
</div>
