<div [ngClass]="[themeService.darkMode ? 'dark-theme' : '']">
  <mat-toolbar [color]='themeService.selectedColor'>
    <mat-toolbar-row>
      <button [color]='themeService.selectedColor' extended mat-fab>
        <mat-icon>favorite</mat-icon>
        Logo
      </button>
      <a
        [color]='themeService.selectedColor'
        [routerLinkActiveOptions]='{ exact: true }'
        data-automation-id='home-link'
        mat-raised-button
        routerLink='home'
        routerLinkActive='active'
      >Home
      </a>
      <a
        [color]='themeService.selectedColor'
        [routerLinkActiveOptions]='{ exact: true }'
        data-automation-id='search-link'
        mat-raised-button
        routerLink='search'
        routerLinkActive='active'
      >Search</a
      >
      <a
        [color]='themeService.selectedColor'
        [routerLinkActiveOptions]='{ exact: true }'
        data-automation-id='three-js-link'
        mat-raised-button
        routerLink='threeJs'
        routerLinkActive='active'
      >Three JS</a
      >
      <a
        [color]='themeService.selectedColor'
        [routerLinkActiveOptions]='{ exact: true }'
        mat-raised-button
        routerLink='helps/about'
        routerLinkActive='active'
      >About</a>
      <span class='flex-1'></span>
      <mat-button-toggle-group (change)='themeService.selectedColor = $event.value'>
        <mat-button-toggle *ngFor='let color of themeService.colors$ | async' [value]='color'>{{color}}
        </mat-button-toggle>
      </mat-button-toggle-group>
      <span class='flex-1'></span>
      <mat-button-toggle-group (change)='themeService.selectedAppearance = $event.value'
                               [appearance]='themeService.selectedAppearance'>
        <mat-button-toggle *ngFor='let appearance of themeService.appearance$ | async'
                           [value]='appearance'>{{appearance}}
        </mat-button-toggle>
      </mat-button-toggle-group>
      <span class='flex-1'></span>
      <mat-button-toggle-group (change)='themeService.selectedLabelPosition = $event.value'
                               [appearance]='themeService.selectedAppearance'>
        <mat-button-toggle *ngFor='let labelPosition of themeService.labelPosition$ | async'
                           [value]='labelPosition'>{{labelPosition}}
        </mat-button-toggle>
      </mat-button-toggle-group>
      <span class='flex-1'></span>
      <mat-slide-toggle
        [(ngModel)]='themeService.darkMode'
        [color]='themeService.selectedColor'
        [labelPosition]='themeService.selectedLabelPosition'
      >
        <div class='flex justify-center'>
          <mat-icon>dark_mode</mat-icon>
          DARK MODE
        </div>
      </mat-slide-toggle>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-drawer-container autosize class='min-h-svh'>
    <main class='m-5'>
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-container>
</div>
