<div class="flex flex-col">
  <div class="flex flex-row">
    <div class="flex-grow">
      <mat-selection-list>
        <mat-list-option
          color="primary"
          togglePosition="before"
          *ngFor="let shoe of typesOfShoes"
        >{{ shoe }}</mat-list-option
        >
      </mat-selection-list>
    </div>
    <div class="flex-grow">
      <mat-selection-list>
        <mat-list-option
          color="accent"
          togglePosition="before"
          *ngFor="let season of typeOfSeasons"
        >{{ season }}</mat-list-option
        >
      </mat-selection-list>
    </div>
  </div>
  <mat-divider></mat-divider>

  <div class="flex">
    <div class="flex-grow basis-0" data-testid="esResult">
      <h1>Search Result From ES:</h1>
      <section class="flex flex-col flex-wrap justify-between">
        <ng-container *ngFor="let hero of heroesFromES$ | async">
          <app-hero [hero]="hero" class="my-2"></app-hero>
          <mat-divider></mat-divider>
        </ng-container>
      </section>
    </div>
    <div class="flex-grow basis-0" data-testid="mongoResult">
      <h1 class="flex">Search Result From Mongo:</h1>
      <section class="flex flex-col flex-wrap justify-between">
        <ng-container *ngFor="let hero of heroesFromMongo$ | async">
          <app-hero [hero]="hero" class="my-2"></app-hero>
          <mat-divider></mat-divider>
        </ng-container>
      </section>
    </div>
  </div>
</div>
