<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title> {{ hero().squadName }} </mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{ hero().content }}</p>
    @for (member of hero().members; track member; ) {
      <lib-member [member]="member" />
    }
    <mat-action-row>
      <button type="button" matButton color="accent" (click)="openHeroDetailDialog()">Learn More</button>
      <button type="button" matIconButton>
        <mat-icon aria-hidden="false" aria-label="like" fontIcon="thumb_up"></mat-icon>
      </button>
      <button type="button" matIconButton>
        <mat-icon aria-hidden="false" aria-label="unlike" fontIcon="thumb_down"></mat-icon>
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
