<mat-card>
  <mat-card-header>
    <mat-card-title>{{ hero().homeTown }}</mat-card-title>
    <mat-card-subtitle>{{ hero().squadName }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
    <button (click)="openHeroDetailDialog()" color="accent" matButton>Learn More</button>
  </mat-card-actions>
  <mat-card-content>
    <p>{{ hero().secretBase }}</p>
    <p>{{ hero().content }}</p>
    @for (member of hero().members || []; track member) {
      <app-member [member]="member" />
    }
  </mat-card-content>
</mat-card>
