<mat-card>
  <mat-card-header>
    <mat-card-title>{{ hero().squadName }}</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button type="button" matButton color="accent" (click)="openHeroDetailDialog()">Learn More</button>
  </mat-card-actions>
  <mat-card-content>
    {{ hero().content }}
    @for (member of hero().members; track member; ) {
      <app-member [member]="member" />
    }
  </mat-card-content>
  <mat-card-footer>
    <button type="button" matIconButton>
      <mat-icon aria-hidden="false" aria-label="like" fontIcon="thumb_up"></mat-icon>
    </button>
    <button type="button" matIconButton>
      <mat-icon aria-hidden="false" aria-label="unlike" fontIcon="thumb_down"></mat-icon>
    </button>
  </mat-card-footer>
</mat-card>
