<div class="my-2 border-solid border-2">
  <mat-list>
    <mat-list-item>
      <span matListItemTitle>member name</span>
      <span matListItemLine>{{ member().name }}</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>member age</span>
      <span matListItemLine>{{ member().age }}</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>member powers</span>
      <span matListItemLine>{{ member().powers }}</span>
    </mat-list-item>
    <mat-list-item>
      <span matListItemTitle>member secretIdentity</span>
      <span matListItemLine>{{ member().secretIdentity }}</span>
    </mat-list-item>
  </mat-list>
</div>
