<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      @for (route of routes; track route) {
        <a
          mat-list-item
          routerLinkActive="active"
          [routerLink]=route.path
          [routerLinkActiveOptions]="{ exact: true }"
        >{{ route.label }}</a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar [color]="themeService.selectedColor">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          matIconButton
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }

      <a mat-mini-fab [color]="themeService.selectedColor" routerLink="./">
        <mat-icon>favorite</mat-icon>
      </a>
      <span class="flex-1"></span>
      <button matButton [matMenuTriggerFor]="themeColorMenu">theme color</button>
      <mat-menu #themeColorMenu="matMenu">
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="flex flex-col"
          [(ngModel)]="themeService.selectedColor">
          @for (color of themeService.colors; track color) {
            <mat-radio-button [value]="color">{{ color }}</mat-radio-button>
          }
        </mat-radio-group>
      </mat-menu>
      <span class="flex-1"></span>
      <mat-slide-toggle
        [color]="themeService.selectedColor"
        [(ngModel)]="themeService.darkMode"
      >
        <div class="flex justify-center">
          <mat-icon>dark_mode</mat-icon>
          DARK MODE
        </div>
      </mat-slide-toggle>
    </mat-toolbar>
    <main class="p-5 h-full">
      <router-outlet />
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
