<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="false"
               class="sidenav"
               fixedInViewport>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      @for (route of routes; track route) {
        <a
          [routerLinkActiveOptions]="{ exact: true }"
          [routerLink]=route.path
          mat-list-item
          routerLinkActive="active"
        >{{ route.label }}</a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar [color]="themeService.selectedColor">
      @if (isHandset$ | async) {
        <button
          (click)="drawer.toggle()"
          aria-label="Toggle sidenav"
          matIconButton
          type="button">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      } @else {
        <button mat-icon-button (click)="drawer.toggle()">
          @if (drawer.opened) {
            <mat-icon fontIcon="chevron_left">Toggle drawer</mat-icon>
          } @else {
            <mat-icon fontIcon="chevron_right">Toggle drawer</mat-icon>
          }
        </button>
      }
      <span class="flex-1"></span>
      <button [matMenuTriggerFor]="themeColorMenu" matButton>theme color</button>
      <mat-menu #themeColorMenu="matMenu">
        <mat-radio-group
          [(ngModel)]="themeService.selectedColor"
          aria-labelledby="example-radio-group-label"
          class="flex flex-col">
          @for (color of themeService.colors; track color) {
            <mat-radio-button [value]="color">{{ color }}</mat-radio-button>
          }
        </mat-radio-group>
      </mat-menu>
      <span class="flex-1"></span>
      <mat-slide-toggle
        [(ngModel)]="themeService.darkMode"
        [color]="themeService.selectedColor"
      >
        <div class="flex justify-center">
          <mat-icon>dark_mode</mat-icon>
          DARK MODE
        </div>
      </mat-slide-toggle>
    </mat-toolbar>
    <main class="p-5 h-full">
      <router-outlet/>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
