<form [formGroup]="stepForm">
  <mat-stepper formArrayName="steps" labelPosition="bottom" orientation="vertical" #stepper>
    <mat-step [optional]="false">
      <ng-template matStepLabel>Import Excel</ng-template>
      <app-excel></app-excel>
      <button matButton matStepperNext>Next</button>
    </mat-step>
    <mat-step [formGroupName]="1" [optional]="false">
      <ng-template matStepLabel>Select Chart Type</ng-template>
      <mat-form-field>
        <mat-label>Chart Type</mat-label>
        <mat-select formControlName="chartTypeCtrl">
          <mat-option value="bar">Bar</mat-option>
          <mat-option value="line">Line</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step formGroupName="2" [optional]="false">
      <ng-template matStepLabel>Map Data</ng-template>
      <mat-form-field>
        <mat-label>X Axis</mat-label>
        <mat-select formControlName="xAxisCtrl">
          @for (header of excelService.headers(); track header) {
            <mat-option [value]="header">{{ header }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Y Axis</mat-label>
        <mat-select formControlName="yAxisCtrl">
          @for (header of excelService.headers(); track header) {
            <mat-option [value]="header">{{ header }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Sum</mat-label>
        <mat-select formControlName="sumCtrl">
          @for (header of excelService.headers(); track header) {
            <mat-option [value]="header">{{ header }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <ng-template matStepContent>
        <highcharts-chart
          [constructorType]="chartConstructor"
          [options]="chartOptions()"
          class="chart"/>
      </ng-template>
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
</form>
