<mat-stepper labelPosition="bottom" #stepper>
  <mat-step [stepControl]="firstFormGroup" [optional]="false">
    <form [formGroup]="firstFormGroup" class="flex flex-col gap-5">
      <ng-template matStepLabel>Import Excel</ng-template>
      <app-excel/>
      <div>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" optional>
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Map Data</ng-template>
      <mat-form-field>
        <mat-label>Favorite Car</mat-label>
        <mat-select formControlName="secondCtrl">
          <mat-option value="">None</mat-option>
          @for (columnDef of dashboardService.columnDefs; track columnDef) {
            <mat-option [value]="columnDef">{{ columnDef }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <div>
        <button matButton matStepperPrevious>Back</button>
        <button matButton matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <highcharts-chart
      [constructorType]="chartConstructor"
      [options]="chartOptions()"
      class="chart"
    />
    <div>
      <button matButton matStepperPrevious>Back</button>
      <button matButton (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
