@use '@angular/material' as mat;

@include mat.core();

@import 'color';

$my-light-theme-primary: mat.define-palette(mat.$blue-palette);
$my-light-theme-accent: mat.define-palette(mat.$yellow-palette);
$my-light-theme-warn: mat.define-palette(mat.$red-palette);

$my-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-light-theme-primary,
      accent: $my-light-theme-accent,
      warn: $my-light-theme-warn,
    ),
  )
);

@include mat.all-component-themes($my-light-theme);

$my-dark-theme-primary: mat.define-palette(mat.$gray-palette);
$my-dark-theme-accent: mat.define-palette(mat.$amber-palette);

$my-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-dark-theme-primary,
      accent: $my-dark-theme-accent,
    ),
  )
);
.dark-theme {
  @include mat.all-component-colors($my-dark-theme);
}
