@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'color';

html,
body {
  margin: 0;
}

.active {
  background: white !important;
}

.active > span > span {
  color: $my-blue !important;
}
