@use '@angular/material' as mat;

@include mat.core();

@import 'color';

$my-light-theme-primary: mat.define-palette($my-light-color, 100, 200, 400);
$my-light-theme-accent: mat.define-palette(mat.$yellow-palette, 100, 200, 400);

$my-light-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-light-theme-primary,
      accent: $my-light-theme-accent,
    ),
  )
);

@include mat.all-component-themes($my-light-theme);

$my-dark-theme-primary: mat.define-palette($my-dark-color, 200, A100, A700);
$my-dark-theme-accent: mat.define-palette(
  mat.$blue-gray-palette,
  200,
  A100,
  A700
);

$my-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-dark-theme-primary,
      accent: $my-dark-theme-accent,
    ),
  )
);
.dark-theme {
  @include mat.all-component-themes($my-dark-theme);
}
