<div class="flex-grow basis-0" data-testid="esResult">
  <h1>Search Result From Mongo DB:</h1>
  <mat-form-field class="w-full" appearance="fill">
    <input matInput type="search" [(ngModel)]="searchTerm">
    @if (searchTerm()?.length) {
      <button matSuffix mat-icon-button aria-label="Search">
        <mat-icon fontIcon="search"></mat-icon>
      </button>
    } @else {
      <button matSuffix mat-icon-button aria-label="Search">
        <mat-icon fontIcon="clear"></mat-icon>
      </button>
    }
  </mat-form-field>
  <fieldset>
    @if (heroes.hasValue()) {
      @for (hero of heroes.value(); track hero) {
        <section class="flex flex-col flex-wrap justify-between">
          <app-hero [hero]="hero" class="my-2" />
          <mat-divider />
        </section>
      }
    } @else if (heroes.isLoading()) {
      <div class="spinner-overlay">
        <mat-spinner></mat-spinner>
      </div>
    }
  </fieldset>
</div>
