name: PR title and template check

on:
  pull_request:
    branches: [master]
    types: [opened, synchronize, edited]

jobs:
  check_pr_title_template:
    runs-on: ubuntu-latest
    name: Run PR title and template check
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Validate Title of PR
        run: node scripts/checkPrTitle.js "${{ github.event.pull_request.title }}"
